<span class="ui label {% if data == "ready" %}blue{% elseif data == "shipped" %}green{% elseif data == "in_preparation" %}purple{% endif %}">
    <i class="{% if data == "ready" %}clock{% elseif data == "shipped" %}plane{% elseif data == "in_preparation" %}dolly{% endif %} icon"></i>
    {{ ("arobases_sylius_transporter_label_generation_plugin.ui."~data)|trans }}
</span>
